<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/registration}" th:object="${user}">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"style="color: red;"></span>
    </div>
    <br>
    <div>
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age"/>
    </div>
    <br>
    <div>
        <label for="password">Enter password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"style="color: red;"></span>
    </div>
    <br>
    <label for="roles">Select roles: </label>
    <select th:field="*{roles}" id="roles" multiple="multiple" required>
        <option value="1">ADMIN</option>
        <option value="2">USER</option>
    </select>


    <input type="submit" value="Sign up"/>
</form>
<a href="/logout">Log out</a>
</body>
</html>